/* src/assets/main.less */
/* 导入变量 */
@import './variables.less';
@import './mixins.less';
/* 全局样式 */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--font-color-primary);
  .beautyScrollbar();
}
